{% extends 'base.html' %}
{% load staticfiles %}
{% block content_left %}
 <h2 class="title_tj"><p id="article_tag">&gt关于我</p></h2>
<h1 class="t_nav"><span>梦想的路上不会孤独。</h1>
<div class="about left">
  <img src="/static/images/dream.jpg"/>
    <br/><br/>
  <h2>Preface</h2>
    <ul>
     <p>&nbsp;&nbsp;&nbsp;首先感谢该网页模板的提供者，由于自己前端的水平有限又加上时间问题就在网上下载了一个前端的模板，
         以便实现展示内容，非常感谢模板的提供者。然后自己在大体布局的基础上做了一下修改，添加了一些元素，再次感谢。</p>
    <p>&nbsp;&nbsp;&nbsp;在去年的时候就想为自己搭建一个博客，看到各界大佬搭的博客即绚丽又实用实在是羡慕，但是由于各种理由就一直拖到了这时候，
        然而这学期的又面临着各中各样的任务没有太多的时间来学习添加博客上的各种功能点，就做了这样一个不伦不类的东西出来，不过还好的是能实现最最最最基本的功能：就是可以展示文字和图片^_^.....</p>
   <h2>About me</h2>
        <p>&nbsp;&nbsp;&nbsp;我呢，上了大学才知道除了英语、德语、法语、俄语之外还有编程语言这种东西....</p>
        <p>&nbsp;&nbsp;&nbsp;当理解了什么是编程语言的时候，大概一个学期就已经悄悄的溜走了.....</p>
        <p>&nbsp;&nbsp;&nbsp;然后莫宁奇妙的加入了一个只知道需要写代码的团队叫ACM，然而却不知什么是ACM，更不用说它的全拼了.....</p>
        <p>&nbsp;&nbsp;&nbsp;再然后就参加了一个只知道需要写代码的竞赛叫算法竞赛....</p>
        <p>&nbsp;&nbsp;&nbsp;再再然后就一如此坑深似海，在ACM呆了两年半的青春时光，耗的体无完肤<del>当然本来体肤就是健康的颜色</del>。然后最终以区域赛银牌收场，也算是祭奠这两年半的青春时光了....</p>
        <p>&nbsp;&nbsp;&nbsp;</p>
    </ul>
</div>
{% endblock %}
{% block content_right %}
<aside class="right">
    <div class="about_c">
    <p>网名：<span>Vision</span> </p>
    <p>姓名：TangHongKong</p>
    <p>生日：1997-02-01</p>
    <p>现居：山东省—淄博市</p>
    <p>职业：不知去向的大三党</p>
    <p>最近在听：《山海》</p>
	</div>
    <img src="/static/images/aboutphoto.jpg">
</aside>
{% endblock %}
<footer>
  <p>Vision's&nbsp;&nbsp;blog </p>
</footer>